body {
  width: 300px;
  padding-top: 20px;
  background: #fafafa;
}

input {
  margin-bottom: 20px;
}

.user {
  margin-bottom: 20px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.status0 {

}

.status1 {

}